<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <i class="fas fa-home logo text-center"></i>
                    <h1 class="title text-center">Smart Home</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="email" [(ngModel)]="user.username" class="form-control" placeholder="Email">
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input (click)="onLogin()" type="submit" value="Login" class="btn float-right login_btn btn-lg">
                            </div>
                        </div>
                        <div class="card-footer">
                          <p class="float-right"><a (click)="onRegister()">Register an account with code</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
