.title {
    color: #FFFFFF;
    font-size: 2em;
}

.card-footer {
  background-color: #33B5E5;
}

.card {
    border: 0;
}

a {
  text-decoration:none;
  font-size: 1.2em;
  color: white;
}

.container {
    align-content: center;
    margin-top: 5%;
}

.input-group-prepend span {
    width: 50px;
    background-color: #33B5E5;
    color: black;
    border:0 !important;
}

input:focus {
    box-shadow: 0px 0px #FFFFFF;
    background-color: #33B5E5;
    color: #FFFFFF;
    border: 0;
}

.card {
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(255,255,255,0.5) !important;
}

i {
    color: #FFFFFF;
}

input {
    background-color: #33B5E5;
    color: #FFFFFF;
    border: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}

.register_btn {
    background-color: #33B5E5;
    color: #FFFFFF;
    font-size: 1.3em;
}


.logo {
    font-size: 12em;
    top: 11%;
    display: block;
    text-align: center;
}
