<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="wrapper">
        <nav id="sidebar">
          <ul class="list-unstyled components">
            <li>
              <a (click)="setTemp()"><i class="fas fa-temperature-high text-center iconsize"></i></a>
            </li>
            <li>
              <a (click)="setDoor()"><i class="fas fa-door-closed text-center iconsize"></i></a>
            </li>
            <li>
              <a (click)="setWeather()"><i class="fas fa-cloud text-center iconsize"></i></a>
            </li>
          </ul>
        </nav>
        <div class="content">
        </div>
      </div>
    </div>
    <div class="col-md-4 justify-content-center">
      <div class="row">
        <div class="col-md-12 text-center title">
          <h1>Temperature</h1>
        </div>
      </div>
      <div class="row">
        <div class="graphPositioning">
          <canvas class="graph" id='canvas'></canvas>
        </div>
        <div class="graphPositioning">
          <canvas class="graph"  id='canvas1'></canvas>
        </div>

    </div>
  </div>
</div>
