.wrapper {
    display: flex;
    align-items: stretch;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

#sidebar {
    background: rgba(255,255,255,0.5);
    color: #33B5E5;
    min-width: 30%;
    max-width: 30%;
    margin-top: 30%;
    border-radius: 2%;

}

.graphPositioning {
  margin-top: 20%;
}

.graph {
  width: 200%;
}

.title {
  color: #FFF;
  margin-top: 5%;
}

.iconsize {
  font-size: 7vw;
  text-align: center;
}

#sidebar ul li a {
    padding: 5%;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;
}
