/* You can add global styles to this file, and also import other style files */
body {
    background-color: #33B5E5;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
